#random {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.addPhrases > .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.showPhrases {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 10% 0;
}

.showPhrases > ul {
  list-style: none;
  text-align: center;
}

.showPhrases > ul > li {
  margin: 10px 0;
  font-size: clamp(13px, 5vw, 18px);
}

.add {
  margin: 10px 0 0 0;
  width: 60px !important;
  font-size: clamp(15px, 5vw, 20px);
}

.apply {
  margin: 5% 0;
  width: 100% !important;
}

.input.s {
  justify-content: space-around;
}

.inputTime {
  width: 10%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.addQuestion > .form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.chat {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat > .inputPhrase {
  width: 40% !important;
}
.chat > .answers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;

}