#random {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.showPhrases {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 10% 0;
}

.showPhrases > ul {
  list-style: none;
  text-align: center;
}

.showPhrases > ul > li {
  margin: 10px 0;
  font-size: clamp(13px, 5vw, 18px);
}

.add {
  margin: 10px 0 0 0;
  width: 60px !important;
  font-size: clamp(15px, 5vw, 20px);
}

.apply {
  margin: 5% 0;
  width: 100% !important;
}
